// Declared variables
$border-color:  #b3b3b3;
$light-border-color: #CECECE;
$light-background-color: #f9f9f9;
$header-background: #999999;

// main styles
body {
  margin: 0px;
  padding: 0px;
  border: none;
  background: url("/images/blankbackground.png");
}

nav {
  position: relative;
  z-index: 97;
  height: 48px;
  background-color: #343434;
  padding: 0;
  margin: 0;
  top: 0px;
  line-height: 45px;
  border: none;
}

//navbar
.navbar {
  margin: 0px;
  border-radius: 0px;
  a {
    font-weight: bold;
    color: #fff;
  }
}

.nav>li>a:hover {
  background-color: rgba(255, 255, 255, .2);
}

.navbar-brand {
  height: 48px;
  width: 122px;
  overflow: hidden;
  display: block;
  color: #fff;
  background: url("/images/pipedrive_logo.png") 12px 12px no-repeat!important;
  background-size: 106px 24px;
}

.user-img {
  height: 48px;
  width: 48px;
  display: block;
  float:left;
  background: url("/images/user.png") no-repeat!important;
}

.icon-deals {
  height: 48px;
  width: 48px;
  display: block;
  overflow: hidden;
  float: left;
  background: url("/images/connection.png") no-repeat!important;
}

.icon-activities {
  height: 48px;
  width: 48px;
  display: block;
  overflow: hidden;
  float: left;
  background: url("/images/calendar.png") no-repeat!important;
}

.icon-cube {
  height: 48px;
  width: 48px;
  display: block;
  overflow: hidden;
  float: left;
  background: url("/images/cube.png") no-repeat!important;
}

.icon-profile {
  height: 48px;
  width: 48px;
  display: block;
  overflow: hidden;
  float: left;
  background: url("/images/user.png") no-repeat!important;
}

.page-content-wrapper {
  width: 100%;
}

.content-container-header {
  height: 58px;
}

.profile-info {
  background-color: green;
}

.profile-deals {
  background-color: red;
}

.sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #fff;
  position: fixed;
  height: 100%;
  z-index: 1000;
  border-right: solid 1px $light-border-color;
  box-shadow: 1px 0px rgba(90, 90, 90, .1);

  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    text-decoration: none;
    margin: 0;
    padding: 0;
  }

  .sidebar-item {
    background-color: $light-background-color;
    border-bottom: solid 1px $border-color;
    border-right: solid 1px $border-color;
    color: #000;
    a {
      padding: 15px;
      display: block;
      color: black;
      height: 100%;
      width: 100%;
      text-decoration: none;

      &:hover {
        color: #fff !important;
        background-color: #368CCE;
      }
    }
  }
}

.page-content-wrapper {
  width: 100%;
}

.wrapper {
  padding-left: 250px;
}

.middle-area {
  background-color: #fff;
  min-height: 200px;
  border: solid 1px $light-border-color;
  box-shadow: 2px 2px rgba(90, 90, 90, .1);
}

.deals-heading {
  background-color: $light-background-color;
}
.panel-deals {
  margin: 20px;
}

.table-profile>tbody>tr>td {
  border: none;
}
.table-profile {
  margin: 10px;
}

.deals {
  height: 50px;
}
