/* line 15, ../sass/style.scss */
h1 {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  margin-top: 30px;
  margin-bottom: 20px;
}

/* line 26, ../sass/style.scss */
h3 {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 36, ../sass/style.scss */
h4 {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: gray;
}

/* line 47, ../sass/style.scss */
p {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

/* line 55, ../sass/style.scss */
blockquote {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

/* line 63, ../sass/style.scss */
pre {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

/* line 73, ../sass/style.scss */
.nav-collapse, .nav-collapse.collapse {
  overflow: visible;
}

/* line 76, ../sass/style.scss */
.navbar .btn-navbar {
  display: none;
}

/* line 80, ../sass/style.scss */
body {
  margin: 0px;
  padding: 0px;
  border: none;
  min-width: 780px;
  overflow: auto;
  background: url("../../images/blankbackground.png");
}

/* line 89, ../sass/style.scss */
nav {
  position: relative;
  z-index: 97;
  height: 48px;
  background-color: #343434;
  padding: 0;
  margin: 0;
  top: 0px;
  line-height: 45px;
  border: none;
}

/* line 101, ../sass/style.scss */
.row {
  margin-left: 0;
  margin-right: 0;
}

/* line 106, ../sass/style.scss */
.background-logo {
  position: absolute;
  width: 800px;
  height: 800px;
  left: 15%;
  top: 15%;
  z-index: -1;
  max-width: 80%;
  background: url("../../images/background.png");
}

/* line 118, ../sass/style.scss */
.navbar {
  height: 48px;
  margin: 0px;
  border-radius: 0px;
  overflow: hidden;
}
/* line 123, ../sass/style.scss */
.navbar .container-fluid {
  padding-right: 0px;
}
/* line 126, ../sass/style.scss */
.navbar a {
  font-weight: bold;
  color: #fff;
}

/* line 132, ../sass/style.scss */
.nav > li > a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.2s ease;
}

/* line 136, ../sass/style.scss */
.nav > li > a:focus {
  background-color: #26292c;
}

/* line 139, ../sass/style.scss */
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: #26292c;
  border-color: #26292c;
}

/* line 144, ../sass/style.scss */
.navbar-brand {
  height: 48px;
  width: 122px;
  overflow: hidden;
  display: block;
  color: #fff;
  background: url("../../images/pipedrive_logo.png") 12px 12px no-repeat !important;
  background-size: 106px 24px;
}

/* line 154, ../sass/style.scss */
.user-img {
  margin-top: -15px;
  height: 48px;
  width: 48px;
  display: block;
  float: left;
  margin-right: 2px;
  background: url("../../images/user.png") center no-repeat !important;
}

/* line 164, ../sass/style.scss */
.icon-deals {
  margin-top: -15px;
  height: 48px;
  width: 48px;
  display: block;
  overflow: hidden;
  float: left;
  background: url("../../images/connection.png") center no-repeat !important;
}

/* line 174, ../sass/style.scss */
.icon-activities {
  margin-top: -15px;
  height: 48px;
  width: 48px;
  display: block;
  overflow: hidden;
  float: left;
  background: url("../../images/calendar.png") center no-repeat !important;
}

/* line 184, ../sass/style.scss */
.icon-cube {
  margin-top: -15px;
  height: 48px;
  width: 48px;
  display: block;
  overflow: hidden;
  float: left;
  background: url("../../images/cube.png") center no-repeat !important;
}

/* line 194, ../sass/style.scss */
.icon-profile {
  margin-top: -15px;
  height: 48px;
  width: 48px;
  display: block;
  overflow: hidden;
  float: left;
  background: url("../../images/user.png") center no-repeat !important;
}

/* line 205, ../sass/style.scss */
.content-container-header {
  height: 58px;
}

/* line 209, ../sass/style.scss */
.company-name {
  display: block;
}

/* line 213, ../sass/style.scss */
.sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #fff;
  position: absolute;
  min-height: calc(100% - 50px);
  z-index: 1000;
  border-right: solid 1px #cecece;
  box-shadow: 1px 0px rgba(90, 90, 90, 0.1);
}
/* line 224, ../sass/style.scss */
.sidebar-wrapper .sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
/* line 233, ../sass/style.scss */
.sidebar-wrapper .sidebar-item {
  background-color: #f9f9f9;
  border-bottom: solid 1px #b3b3b3;
  border-right: solid 1px #b3b3b3;
  color: #000;
  word-wrap: break-word;
}
/* line 239, ../sass/style.scss */
.sidebar-wrapper .sidebar-item a {
  padding: 10px;
  display: block;
  color: black;
  height: 100%;
  width: 100%;
  text-decoration: none;
}
/* line 247, ../sass/style.scss */
.sidebar-wrapper .sidebar-item a:hover {
  color: #fff !important;
  background: #4CA2DE;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#4ca2de, #287bc4);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#4ca2de, #287bc4);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#4ca2de, #287bc4);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#4ca2de, #287bc4);
  /* Standard syntax (must be last) */
  transition: background-color 0.5s ease;
}

/* line 260, ../sass/style.scss */
.page-content-wrapper {
  width: 100%;
}
/* line 262, ../sass/style.scss */
.page-content-wrapper .container {
  margin-left: 30px;
  width: calc(100% - 60px);
}

/* line 268, ../sass/style.scss */
.wrapper {
  padding-left: 250px;
}

/* line 272, ../sass/style.scss */
.middle-area {
  background-color: #fff;
  min-height: 200px;
  border: solid 1px #cecece;
  box-shadow: 0px 2px rgba(90, 90, 90, 0.2);
}

/* line 279, ../sass/style.scss */
.deals-heading {
  background-color: #f9f9f9;
}

/* line 282, ../sass/style.scss */
.panel-deals {
  margin: 20px;
}

/* line 286, ../sass/style.scss */
.table-profile > tbody > tr > td {
  border: none;
}

/* line 289, ../sass/style.scss */
.table-profile {
  margin: 10px;
}

/* line 293, ../sass/style.scss */
.deals {
  height: 50px;
}

/* line 297, ../sass/style.scss */
.dropdown-toggle {
  height: 50px;
}

/* line 301, ../sass/style.scss */
.company-name {
  font-size: 11px;
  color: #c2c8cd;
}

/* line 306, ../sass/style.scss */
.user-info {
  margin-left: 50px;
  margin-right: 10px;
  margin-top: -10px;
}

/* line 312, ../sass/style.scss */
.caret {
  position: absolute;
  right: 5px;
  top: 23px;
  color: #c2c8cd;
}

/* line 319, ../sass/style.scss */
.sidebar-company {
  color: gray;
  display: block;
}

/* line 324, ../sass/style.scss */
.table-striped {
  box-shadow: 2px 2px rgba(90, 90, 90, 0.2);
}

/* line 328, ../sass/style.scss */
.current-date {
  float: left;
  color: #000;
  margin-left: -31px;
  margin-top: -20px;
  text-align: center;
}

/* line 336, ../sass/style.scss */
.notifications {
  margin-top: -34px;
  margin-left: 29px;
  min-width: 18px;
  height: 18px;
  background-color: #dd0000;
  border-radius: 3px;
  z-index: 50;
  position: absolute;
  text-align: center;
  font-size: 10;
}
/* line 347, ../sass/style.scss */
.notifications .notifications-number {
  color: #fff;
}

/* line 353, ../sass/style.scss */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}
