/* line 8, ../sass/style.scss */
body {
  margin: 0px;
  padding: 0px;
  border: none;
  background: url("/images/blankbackground.png");
}

/* line 15, ../sass/style.scss */
nav {
  position: relative;
  z-index: 97;
  height: 48px;
  background-color: #343434;
  padding: 0;
  margin: 0;
  top: 0px;
  line-height: 45px;
  border: none;
}

/* line 28, ../sass/style.scss */
.navbar {
  margin: 0px;
  border-radius: 0px;
}
/* line 31, ../sass/style.scss */
.navbar a {
  font-weight: bold;
  color: #fff;
}

/* line 37, ../sass/style.scss */
.nav > li > a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* line 41, ../sass/style.scss */
.navbar-brand {
  height: 48px;
  width: 122px;
  overflow: hidden;
  display: block;
  color: #fff;
  background: url("/images/pipedrive_logo.png") 12px 12px no-repeat !important;
  background-size: 106px 24px;
}

/* line 51, ../sass/style.scss */
.user-img {
  height: 48px;
  width: 48px;
  display: block;
  float: left;
  background: url("/images/user.png") no-repeat !important;
}

/* line 59, ../sass/style.scss */
.icon-deals {
  height: 48px;
  width: 48px;
  display: block;
  overflow: hidden;
  float: left;
  background: url("/images/connection.png") no-repeat !important;
}

/* line 68, ../sass/style.scss */
.icon-activities {
  height: 48px;
  width: 48px;
  display: block;
  overflow: hidden;
  float: left;
  background: url("/images/calendar.png") no-repeat !important;
}

/* line 77, ../sass/style.scss */
.icon-cube {
  height: 48px;
  width: 48px;
  display: block;
  overflow: hidden;
  float: left;
  background: url("/images/cube.png") no-repeat !important;
}

/* line 86, ../sass/style.scss */
.icon-profile {
  height: 48px;
  width: 48px;
  display: block;
  overflow: hidden;
  float: left;
  background: url("/images/user.png") no-repeat !important;
}

/* line 95, ../sass/style.scss */
.page-content-wrapper {
  width: 100%;
}

/* line 99, ../sass/style.scss */
.content-container-header {
  height: 58px;
}

/* line 103, ../sass/style.scss */
.profile-info {
  background-color: green;
}

/* line 107, ../sass/style.scss */
.profile-deals {
  background-color: red;
}

/* line 111, ../sass/style.scss */
.sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #fff;
  position: fixed;
  height: 100%;
  z-index: 1000;
  border-right: solid 1px #cecece;
  box-shadow: 1px 0px rgba(90, 90, 90, 0.1);
}
/* line 122, ../sass/style.scss */
.sidebar-wrapper .sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
/* line 131, ../sass/style.scss */
.sidebar-wrapper .sidebar-item {
  background-color: #f9f9f9;
  border-bottom: solid 1px #b3b3b3;
  border-right: solid 1px #b3b3b3;
  color: #000;
}
/* line 136, ../sass/style.scss */
.sidebar-wrapper .sidebar-item a {
  padding: 15px;
  display: block;
  color: black;
  height: 100%;
  width: 100%;
  text-decoration: none;
}
/* line 144, ../sass/style.scss */
.sidebar-wrapper .sidebar-item a:hover {
  color: #fff !important;
  background-color: #368CCE;
}

/* line 152, ../sass/style.scss */
.page-content-wrapper {
  width: 100%;
}

/* line 156, ../sass/style.scss */
.wrapper {
  padding-left: 250px;
}

/* line 160, ../sass/style.scss */
.middle-area {
  background-color: #fff;
  min-height: 200px;
  border: solid 1px #cecece;
  box-shadow: 2px 2px rgba(90, 90, 90, 0.1);
}

/* line 167, ../sass/style.scss */
.deals-heading {
  background-color: #f9f9f9;
}

/* line 170, ../sass/style.scss */
.panel-deals {
  margin: 20px;
}

/* line 174, ../sass/style.scss */
.table-profile > tbody > tr > td {
  border: none;
}

/* line 177, ../sass/style.scss */
.table-profile {
  margin: 10px;
}

/* line 181, ../sass/style.scss */
.deals {
  height: 50px;
}
